* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("font/Inter.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular", sans-serif;
  src: url("font/circular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font: "Inter", sans-serif;
  --fontC: "Circular", sans-serif;
  --textColor: #333333;
  --mainBGColor: #ffffff;
  --sColor: #a0d1e844;
  --btnBGColor: #ff6b6b;
  --dBtnColor: #ff6b6b;
  --dBtnColorHover: #ff4f4f;
  --dBtnShadowColor: #f02626;

  --borderColor:  rgba(128, 128, 128, 0.493);
  --divider: rgba(128, 128, 128, 0.705);
  --defaultColor: rgb(133, 133, 133);
  --appVersion: #b3b3b3;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--mainBGColor);
  color: var(--textColor);
  text-align: center;
}

/* clip box */
.clip-box {
  position: relative;
  width: 450px;
}

#copyMessage {
  position: absolute;
  top: -25px; /* Default top position */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #e7f7e7;
  color: green;
  padding: 10px;
  border: 1px solid #c8e6c9;
  font-size: 0.9rem;
  border-radius: 0 0 20px 20px;
  text-align: center;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* To avoid blocking space when hidden */
  transition: opacity 0.3s ease;
  z-index: 11;
}

/* Slide-in animation */
@keyframes slideIn {
  from {
    opacity: 0;
    top: -25px;
  }
  to {
    opacity: 1;
    top: -2px; /* Active top position */
  }
}

#copyMessage.slide-in {
  visibility: visible; /* Make visible when sliding in */
  animation: slideIn 0.3s ease forwards;
}

/* Slide-out animation */
@keyframes slideOut {
  from {
    opacity: 1;
    top: -20px; /* Active top position */
  }
  to {
    opacity: 0;
    top: -25px; /* Default top position */
  }
}

#copyMessage.slide-out {
  animation: slideOut 0.3s ease forwards;
  visibility: hidden; /* Hide after sliding out */
}

.clip-title-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  box-shadow: 0 0 5px var(--borderColor);
  height: 45px;
  z-index: 10;
  width: 100%;
  background-color: var(--mainBGColor);
  padding: 10px;
}

.clip-title-box h2 {
  font-size: 1rem;
  font-family: var(--font);
}

button.clearHistory {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--dBtnColor);
  border: none;
  color: #fff;
  transition: all 0.3s ease-out;
}

button.clearHistory:hover {
  background-color: var(--dBtnColor);
  box-shadow: inset 0 0 20px var(--dBtnShadowColor);
  transition: all 0.3s ease-out;
}

.historyList {
  position: relative;
  /* border: 1px solid rgba(255, 0, 0, 0.182); */
  /* height: auto; */
  min-height: 100px;
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.history-item:first-child {
  margin-top: 50px;
  /* border: 1px solid red; */
}

.history-item:last-child {
  margin-bottom: 50px;
  /* border: 1px solid red; */
}

.history-item {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #20202023;
  border-radius: 2px;
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-shadow: inset 1px 1px 10px rgba(128, 128, 128, 0.267);
}

.history-item:hover {
  background-color: var(--sColor);
}

/* footer */
.ap-sn-footer-box {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding: 10px;
  box-shadow: 0 0 5px var(--borderColor);
  /* font-family: var(--cFont); */
}

.ap-sn-version-product {
  display: flex;
  align-items: center;
}

.ap-sn-divider {
  margin: 0 10px;
  height: 15px;
  padding: 0.2px;
  background-color: var(--divider);
  color: var();
}

.ap-sn-footer-box p.app-from {
  font-size: 0.75rem;
  color: var(--defaultColor);
}

.ap-sn-footer-box p a {
  color: var(--defaultColor);
}

.app-version {
  color: var(--appVersion);
  font-size: 0.6rem;
}